.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  height: 60px;
}

.header {
  background-color: #1976d2;
  position: sticky;
  top: 0;
  z-index: 1;
}

.search {
  background: #fff;
  border: 1px solid #aaabad;
  height: 25px;
  border-radius: 5px;
}
